<h2>My Posts</h2>
<ol>
  <% @posts.each do |post| %>


    <li><%= link_to post.title, post %> <%= link_to "edit", edit_author_post_path(post) %>
      <%= link_to 'Delete', [:author, post], :confirm => 'are you sure?', :method => :delete %>
      <%= form_for [:author, post], :html => {:method => :delete} do %>
      <%= submit_tag "Delete" %></li>
    
    <% end %>
  <% end %>
</ol>

<%= link_to "New Post", new_author_post_path %>